.shop-desc{
	font-size: 10px;
}

.content{
	background-color: #ffffff;
}

#search-background-color{
	background-color:#1E90FF;
}

#classifyrow{
	margin-left: .5rem;
	margin-right: .5rem;
}
/* 弹窗样式 */












